name: Build & Publish
on:
  push:
    branches:
      - main

jobs:
  release: 
    strategy:
        matrix:
          os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
      - name: install dependencies
        run: npm ci
      - name: deploy
        if: startsWith(github.event.head_commit.message,'v0.')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAC_APPLE_ID: ${{ secrets.MAC_APPLE_ID }}
          MAC_APPLE_ID_PWD: ${{ secrets.MAC_APPLE_ID_PWD }}
          MAC_DEVELOPER_ID: ${{ secrets.MAC_DEVELOPER_ID }}
          MAC_APPLE_TEAM_ID: ${{ secrets.MAC_APPLE_TEAM_ID }}
        run: npm run publish
      - name: prepare chocolatey
        if: matrix.os == 'windows-latest' && startsWith(github.event.head_commit.message,'v0.')
        run: npm run chocolatey:prepare
      - name: pack chocolatey
        if: matrix.os == 'windows-latest' && startsWith(github.event.head_commit.message,'v0.')
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: pack .\build\chocolatey\opalo.nuspec
      - name: push chocolatey
        continue-on-error: true
        if: matrix.os == 'windows-latest' && startsWith(github.event.head_commit.message,'v0.')
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: push -s https://push.chocolatey.org/ -k '${{ secrets.CHOCOLATEY_KEY }}'

      